In [ ]:
# komentarz

# if

wielkosc = 5


print(wielkosc)

5

In [ ]:
if wielkosc >6:
    print("ale duze")
elif wielkosc < 3:
    print("malutkie")
    print('franek')
else:
    print("w sam raz")

w sam raz

In [ ]:
studenci = ["Ania", "Zosia", "Kasia", "Franek"]

print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek']

In [ ]:
studenci[0][1]

'Ania'

In [ ]:
for student in studenci:
    print("student ma na imie:", student)
    
for student in studenci:
    print(student)
    if student[0]=="A":
        print("student na poczatku alfabetu")

student ma na imie: Ania
student ma na imie: Zosia
student ma na imie: Kasia
student ma na imie: Franek
Ania
student na poczatku alfabetu
Zosia
Kasia
Franek

In [ ]:
for numer, student in enumerate(studenci):
    print("student {} ma numer {}".format(student,numer))

student Ania ma numer 0
student Zosia ma numer 1
student Kasia ma numer 2
student Franek ma numer 3

In [ ]:
oceny = [2,2,5,3]

for numer, student in enumerate(studenci):
    print("student {} ma numer {} i ocenę {}".format(student,numer,oceny[numer]))

print("--"*20)    
for number, (student, ocena) in enumerate(zip(studenci,oceny)):
    print("student {} ma numer {} i ocenę {}".format(student,number,ocena))

student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3
----------------------------------------
student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3

In [ ]:
trzy_elementy= [1,2,3]
pierwszy,drugi,trzeci= trzy_elementy

In [ ]:
n = 1

while(n < 10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [ ]:
def dodaj_dwa(liczba):
    return liczba+2

def dodaj_trzy(liczba):
    return liczba+3

def dodaj_dwie_liczby(liczba1,liczba2)
    return liczba1+liczba2


dodaj_cztery = lambda liczba:liczba+4

In [ ]:
funkcje=[dodaj_dwa,dodaj_trzy,dodaj_cztery]

jakis_nr= 10

for funkcja in funkcje:
    print(funkcja(jakis_nr))

12
13
14

In [ ]:
studenci[0]
studenci[1:]
studenci[:-1]

['Ania', 'Zosia', 'Kasia']

In [ ]:
#### challenge 0.1

zajecia = ["wf","informatyka","relax","mispy","piateczek"]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

# wyprintuj zajecia od srody do piatku
# wyprintuj oprocz srody
print (zajecia [2:])
print("------------")
for dnityg,zajecia in zip(dnityg, zajecia):
  if dnityg != "Sro":
    print(dnityg, zajecia)

['relax', 'mispy', 'piateczek']
------------
Pon wf
Wto informatyka
Czwar mispy
Pio piateczek

In [4]:
#### challenge 0.2

zajecia = [["wf"],
           ["informatyka", "nauka czytania"],
           ["relax", "jedzenie"],
           ["mispy","mispy w domu"],
           ["piateczek", "praca domowa z mispow", "Ilovemispy", "mispy w czasie snu"]
          ]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

# zdefiniuj funkcje ktora poda ile jest zajec danego dnia
lista_zajec = list(zip(dnityg,zajecia))
print(lista_zajec)
def ile_zajec(liczba):
  return len(liczba[1])

# lista_zajec_z_dnia -> ile ich jest
# po
# posortuj dni po najbardziej zajetych
for indeks, liczba in enumerate(sorted(lista_zajec, reverse=True, key=ile_zajec)):
  print("-----------")
  print(indeks+1, liczba[1])
#### challenge 0.3

# napisz program ktory zdajdzie dzien z najwieksza iloscia mispow
def ile_mispow(liczba):
  ilosc = 0 
  for nazwa in liczba[1]:
    if "misp" in nazwa:
      ilosc += 1
      return ilosc

[('Pon', ['wf']), ('Wto', ['informatyka', 'nauka czytania']), ('Sro', ['relax', 'jedzenie']), ('Czwar', ['mispy', 'mispy w domu']), ('Pio', ['piateczek', 'praca domowa z mispow', 'Ilovemispy', 'mispy w czasie snu'])]
-----------
1 ['piateczek', 'praca domowa z mispow', 'Ilovemispy', 'mispy w czasie snu']
-----------
2 ['informatyka', 'nauka czytania']
-----------
3 ['relax', 'jedzenie']
-----------
4 ['mispy', 'mispy w domu']
-----------
5 ['wf']

In [ ]:
len(zajecia)

zajecia[4][1]

"Ma" in "MojaMaMa"

liczby=["22","11","33","100"]
liczby_i_nazwy= [("22","dwadziescia dwa"),
                 ("11","jedenascie"),
        ("33","trzydziesci trzy"),("100","sto")]
sorted(liczby)

sorted(liczby, key=int)

liczby_kolejnosc= enumerate(liczby)

def czy_jest_jeden(liczba):

    if "1" in liczba:
        return 1
    else:
        return 0
def na_liczbe(krotka):
         return int(krotka[0])
def na_liczbe_index(krotka):
         return int(krotka[1])    
sorted(liczby, key=czy_jest_jeden)
         
sorted(liczby_i_nazwy,key=na_liczbe)

sorted(liczby_kolejnosc,key=na_liczbe_index)

[(1, '11'), (0, '22'), (2, '33'), (3, '100')]

In [ ]:
sorted(liczby_kolejnosc,key=)